@import "~styles/palette.scss";
@import "~styles/animation.scss";

@include keyframes(move-the-object) {
  0%   { width: 0vw; }
  50% { width: 100vw; left: 0%; }
  100% { width: 0vw; left: 100vw; }
}

.progressBar {
  @include animation('move-the-object 1.2s infinite');
  position: absolute;
  background: $colorGrayLighter;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  width: 8vw;
}
