@import "~styles/palette.scss";
@import "~styles/typography.scss";
@import "~styles/spacing.scss";

// Generic styles for the table
$zLayerBase: 0;
$zLayer1: 1;
$zLayer2: 2;
$zLayer3: 3;
$borderWidthThin: 2px;

.dataTable table {
  width: 100%;
  overflow: hidden;
}

.cell {
  border-bottom: 1px solid $colorGrayLight;
  padding: $spaceNormal $spaceSmaller;
}

.paddingColumn {
  width: $spaceLarge;
}

// Header styles
.dataTable table thead tr th:nth-child(1) {
  @extend .paddingColumn;
}

.dataTable table thead tr {
  border-bottom: $borderWidthThin solid $colorBlack;
}

.dataTable table thead tr th {
  @extend .cell;
  vertical-align: bottom;
}

.selectableColumnHeader {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: $spaceSmaller;
    bottom: 0;
    left: 0;
    background: transparent;
  }
  &:hover {
    &:before {
      background: $colorBlack;
    }
  }
}

.selectableColumnHeaderActive {
  @extend .selectableColumnHeader;
  &:before {
    background: $colorBlack;
  }
}

.arrowIcon {
  position: absolute;
  right: $spaceSmaller;
  background: $colorWhite;
  box-shadow: $colorWhite 0 0 2px 1px;
}

.arrowIconAscending {
  @extend .arrowIcon;
  transform: rotateZ(90deg);
}

.arrowIconDescending {
  @extend .arrowIcon;
  transform: rotateZ(-90deg);
}

.timelineMonthLabel {
  display: inline-block;
  text-align: center;
}

// Common cell styles
.dataTable table tr td {
  @extend .cell;
}

.dataTable table tr td:nth-child(1) {
  @extend .cell;
  @extend .paddingColumn;
}

.dataTable table tr td:nth-last-child(1) {
  @extend .cell;
  @extend .paddingColumn;
}

@mixin sortable-cell-background($color) {
  $cellInSortedColumnDarkenAmount: 2%;
  background: $color;
  &.cellInSortedColumn {
    background: darken($color, $cellInSortedColumnDarkenAmount);
  }
}

.dataTable table tr:nth-child(even) td {
  @include sortable-cell-background($colorAlmostWhite);
}

.dataTable table tr:nth-child(odd) td {
  @include sortable-cell-background($colorWhite);
}

// Timeline styles
.timelineColumnHeader {
  width: 40vw;
  position: relative;
}

.timelineColumn {
  width: 40vw;
  padding: 0 !important;
  position: relative;
}

.genericSeparator {
  position: absolute;
  width: $borderWidthThin;
  height: 10000vh;
  top: calc(100% + #{$borderWidthThin});
  z-index: $zLayer1;
}

.monthSeparator {
  @extend .genericSeparator;
  background: $colorGrayLight;
}

.nowSeparator {
  @extend .genericSeparator;
  background: $colorRed;
  z-index: $zLayer3;
}

.nowLabel {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  color: $colorRed;
  font-size: $fontSizeSmall;
}

.casesList {
  position: relative;
  list-style-type: none;
  margin: $spaceSmaller 0 $spaceSmaller $borderWidthThin;
  padding-left: 0;
}

.caseItem {
  position: absolute;
  overflow: hidden;
}

.caseItemBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: $zLayer1;
}

.caseItemBackgroundAllocation {
  @extend .caseItemBackground;
  background: $colorGreen;
}

.caseItemBackgroundAbsence {
  @extend .caseItemBackground;
  background: $colorRed;
}

.caseItemLabel {
  position: absolute;
  margin: $spaceTiny;
  z-index: $zLayer2;
}
