@import "~styles/palette.scss";
@import "~styles/spacing.scss";

.dataTable table {
  width: 100%;
}

// Generic styles for the table
.cell {
  border-bottom: 1px solid $colorGrayLight;
  padding: $spaceSmall $spaceSmaller;
}

.paddingColumn {
  width: $spaceBig;
}

// Header styles
.dataTable table thead tr th:nth-child(1) {
  @extend .paddingColumn;
}

.dataTable table thead tr th:nth-last-child(1) {
  @extend .paddingColumn;
}

.dataTable table thead tr {
  border-bottom: 2px solid $colorBlack;
}

.dataTable table thead tr th {
  @extend .cell;
  vertical-align: bottom;
}

.selectableColumnHeader {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: $spaceSmaller;
    bottom: 0;
    background: transparent;
  }
  &:hover {
    &:before {
      background: $colorBlack;
    }
  }
}

.selectableColumnHeaderActive {
  @extend .selectableColumnHeader;
  &:before {
    background: $colorBlack;
  }
}

.arrowIcon {
  position: absolute;
  right: $spaceSmaller;
  background: $colorWhite;
  box-shadow: $colorWhite 0 0 2px 1px;
}

.arrowIconAscending {
  @extend .arrowIcon;
  transform: rotateZ(90deg);
}

.arrowIconDescending {
  @extend .arrowIcon;
  transform: rotateZ(-90deg);
}

// Common cell styles
.dataTable table tr td {
  @extend .cell;
}

.dataTable table tr td:nth-child(1) {
  @extend .cell;
  @extend .paddingColumn;
}

.dataTable table tr td:nth-last-child(1) {
  @extend .cell;
  @extend .paddingColumn;
}

@mixin sortable-cell-background($color) {
  $cellInSortedColumnDarkenAmount: 2%;
  background: $color;
  &.cellInSortedColumn {
    background: darken($color, $cellInSortedColumnDarkenAmount);
  }
}

.dataTable table tr:nth-child(even) td {
  @include sortable-cell-background($colorAlmostWhite);
}

.dataTable table tr:nth-child(odd) td {
  @include sortable-cell-background($colorWhite);
}
