@import "./palette.scss";
@import "./spacing.scss";

$borderRadiusNormal: 8px;

.inputFieldStyle {
  margin-left: $spaceSmaller;
  font-weight: normal;
  border-radius: $borderRadiusNormal;
  border: 1px solid #d0d0d0;
  padding: $spaceTiny $spaceSmall;
}

.contentWrapper {
  margin: $spaceNormal $spaceLarge;
  display: flex;
  flex-direction: column;
}

.borderBottomLine {
  border-bottom: solid 1px $colorGrayLighter;
  padding-bottom: $spaceSmall;
}
