@import "~styles/typography.scss";
@import "~styles/spacing.scss";

:global {
  body {
    padding-top: $spaceNavBarHeight;
    padding-bottom: 15vh; // Leave some extra scrolling room at bottom
    font-family: $fontFamilyStrong;
    font-size: $fontSizeBase;
  }

  // Display dropdown menus by hovering
  @media (min-width: 767px) {
    .nav .dropdown:hover > .dropdown-menu {
      display: block;
    }
  }
}
