$colorBlack:       #000000;
$colorGrayDark:    #323232;
$colorGray:        #777777;
$colorGrayLight:   #D8D8D8;
$colorAlmostWhite: #F9F9F9;
$colorWhite:       #FFFFFF;

$colorRed: #E96565;
$colorGreen: #349D4A;
