$fontSizeBase: 14px;

$fontSizeSmallest: 0.354em;
$fontSizeSmaller:  0.500em;
$fontSizeSmall:    0.707em;
$fontSizeNormal:   1.000em;
$fontSizeBig:      1.414em;
$fontSizeLarge:    1.999em;
$fontSizeLarger:   2.827em;
$fontSizeLargest:  3.998em;
