@import "../../styles/palette.scss";

$mycolor: lightgreen;

.dataTable {
  background: $mycolor;
}

.dataTable table tr:nth-child(odd) td {
  background: $wizard;
}

.dataTable table tr:nth-child(even) td {
  background: yellow;
}
