@import "~styles/common.scss";
@import "~styles/typography.scss";
@import "~styles/palette.scss";

.filtersContainer {
  font-weight: bold;
}

.tribeReport {
  min-height: 70vh;
}

.tribeReportGraphRow {
  display: block;
}

.monthGraph {
  display: inline-block;
}

// People statistics list
$peopleStatsRightGutterWidth: 20px;
$peopleStatsUnitBottom: 4px;

.peopleStats {
  position: relative;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.peopleStatsItem {
  text-align: right;
  padding-right: $peopleStatsRightGutterWidth;
  margin-top: $spaceNormal;
  position: relative;
}

.peopleStatsItemSpecial {
  @extend .peopleStatsItem;
  color: $colorPurple;
}

.peopleStatsLabel {
  display: block;
  font-family: $fontFamilyRegular;
  font-size: $fontSizeSmall;
}

.peopleStatsValue {
  display: block;
  font-size: $fontSizeBig;
}

.peopleStatsUnit {
  position: absolute;
  bottom: $peopleStatsUnitBottom;
  right: 0;
  font-size: $fontSizeSmall;
}

// Finance statistics list
.financeStats {
  position: relative;
  list-style-type: none;
  padding: 0;
  display: inline-block;
}

.financeStatsItem {
  text-align: left;
  margin-top: $spaceNormal;
  position: relative;
}

.financeStatsItemSpecial {
  @extend .financeStatsItem;
  color: $colorRed;
}

.financeStatsLabel {
  display: block;
  font-family: $fontFamilyRegular;
  font-size: $fontSizeSmall;
}

.financeStatsValue {
  display: inline-block;
  font-size: $fontSizeBig;
}

.financeStatsUnit {
  display: inline-block;
  font-size: $fontSizeSmall;
  margin-left: $spaceTiny;
}

