@import "~styles/spacing.scss";
@import "~styles/common.scss";

.normal {
  border-radius: 8px;
  padding: $spaceSmaller $spaceSmall;
  margin-right: $spaceSmall;
  outline: none;
  background: transparent;
  color: $colorBlack;
  border: solid 1px $colorGrayLight;
}

.active {
  @extend .normal;
  background: $colorBlack;
  color: $colorWhite;
  border: solid 1px $colorBlack;
}
