/* Clean up background */
html body {
  background: #ffffff !important;
}

/* Center and flex */
#container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* Clean up header */
#container #header {
  background: #ffffff;
}

#container #header #branding h1 {
  border-bottom: 1px solid #eee;
}
#container #header #branding h1 a {
  color: #aaa;
}
#container #header #branding h1 a:hover {
  color: #888;
}
#container #header #branding h1 small {
  font-size: 60%;
}


#container #header #user-tools {
  display: none;
}


/* Clean up breadcrumbs */
#container .breadcrumbs {
  background: #fff;
  border: none;
}

/* Message list */

#container ul.messagelist li {
  border-color:#fff;
}


/* Errors */
.errornote {
  border: none;
}

.form-row.errors {
  border: none;
  margin: 0;
}

/* Realign content */
#container #content {
  margin: 0 20px !important;
}


#container #content h1 {
  margin: 30px 0;
}

#container #content #content-main {
  margin: 0;
}

/* Define widths for specific views */
#container #content.colMS #content-main {
  max-width: 700px;
}

#container #content.flex #content-main,
#container #content.colM #content-main {
  max-width: none;
}

#container #content #recent {
  clear: both;
}

/* Remove unneccesary borders */
#container #content #content-main .module {
  padding: 10px 0;
  border: none;
  box-shadow: none;
}

#container #content #content-main fieldset.module {
  border-bottom: 1px dashed #ddd;
}

#content-main form .submit-row {
  border: none;
}

#content-main .inline-group {
  border-bottom: 1px dashed #ddd;
  box-shadow: none;
}

#container table thead tr th {
  background: none;
}





/* Hilight results */
.module span, .module th {
  font-size: 14px;
  font-weight: normal;
}

.results table#result_list tbody tr:hover {
  background: #f1fafd;
}

.results table .row2 {
  background: #fdfdfd;
}

/* Clean up filter background */
#container #content #content-main #changelist-filter {
  background: #fff;
}


/* Clean up inline elements */
#content-main .inline-group {
  padding: 15px 0;
  margin: 15px 0;
}

.inline-group .module h2 {
  border: none;
}

.inline-group .form-row .original p {
  display: none;
}

.inline-group .timezonewarning {
  display:none;
}

.inline-group thead tr th,
.inline-group tbody tr td a,
.inline-group tbody tr td select,
.inline-group tbody tr td input {
  font-size: 11px;
}

.inline-group .tabular tr.has_original td {
  padding-top: 8px !important;
  padding-left: 2px;
  padding-right: 2px;
}

.inline-group .form-row td input[type=number] {
  width: 55px;
  margin: 0;
}

#content-main .inline-group .tabular tr.add-row td {
  padding-top: 20px;
}

/* Double-line selections look ugly otherwise */
.inline-group .select2 {
  overflow: hidden;
}

/* Hide secondary elements until used */
a.addlink,
a.viewsitelink,
a.historylink,
#content-main .actions,
#content-main .paginator {
  opacity: 0.4;
}

a.addlink:hover,
a.viewsitelink:hover,
a.historylink:hover,
#content-main .actions:hover,
#content-main .paginator:hover {
  opacity: 0.8;
  text-decoration: none;
}


/* Change link is same as normal link */
#content .module a.changelink {
  display: none;
}

#content .module a.add-another {
  display: none;
}

/* Hide related content, it's only the audit log on the main page */
#container #content #content-related {
  display: none;
}


/* Hide the footer, it doesn't contain anything valuable */
#container #footer {
  display: none;
}
